<div class="main__content">
	<div class="container-fluid">
		<div class="main__content__head">
			<h1 class="main__content__title">Accounts</h1>
		</div>
		<div class="row">
			<table class="table table-bordered table-sortable">
				<thead>
					<tr>
						<th data-ng-click="vm.sortType='id'; vm.sortReverse = !vm.sortReverse">
							<i class="fa" data-ng-class="{'fa-sort': vm.sortType!=='id', 'fa-sort-desc': vm.sortType=='id' && !vm.sortReverse, 'fa-sort-asc': vm.sortType=='id' && vm.sortReverse}"></i> Identification number
						</th>
						<th data-ng-click="vm.sortType='name'; vm.sortReverse = !vm.sortReverse">
							<i class="fa" data-ng-class="{'fa-sort': vm.sortType!=='name', 'fa-sort-desc': vm.sortType=='name' && !vm.sortReverse, 'fa-sort-asc': vm.sortType=='name' && vm.sortReverse}"></i> User name
						</th>
						<th>
							<i class="fa"></i> Avatar
						</th>

						<th>
							<i class="fa"></i> Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="row in vm.rows | orderBy:vm.sortType:vm.sortReverse | limitTo:3:(vm.page * 3)">
						<td>{{::row.id}}</td>
						<td>{{::row.name}}</td>
						<td><img src="{{::row.img}}" alt="some_text" style="width:width;height:height;"></td>
						<td>
							<a href="#0">Edit</a>
						</td>
					</tr>
					<tr class="input-row">
						<td>
							<input type="text" placeholder="Identification number" class="form-control" data-ng-model="vm.id">
						</td>
						<td>
							<input type="text" placeholder="Name" class="form-control" data-ng-model="vm.name">
						</td>
						<td>
							<button type="button" class="btn btn-success" data-ng-click="vm.add()">Add</button>
						</td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li data-ng-class="{'active': vm.page==0}"><a data-ng-click="vm.page=0">1</a></li>
					<!--<li><a data-ng-click="vm.page=1" data-ng-class="{'active': vm.page==1}">2</a></li>-->
					<li data-ng-class="{'active': vm.page==1}"><a data-ng-click="vm.page=1">2</a></li>
					<li data-ng-class="{'active': vm.page==2}"><a data-ng-click="vm.page=2">3</a></li>
					<li data-ng-class="{'active': vm.page==3}"><a data-ng-click="vm.page=3">4</a></li>

					<li>
						<a aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>